.subject-list-link{
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 0;
	display: flex;
	list-style: none;
	justify-content: center;
	margin: 0;
	padding: 10px 10px;
	background-color: white;
}

a[href="#math"]{
	border-bottom: 2px solid #8BC34A;
	color: #8BC34A;
}

a[href="#english"]{
	border-bottom: 2px solid #8E24AA;
	color: #8E24AA;
}

a[href="#mape"]{
	border-bottom: 2px solid #FDD835;
	color: #FDD835;
}

a[href="#science"]{
	border-bottom: 2px solid #D81B60;
	color: #D81B60;
}

a[href="#programming"]{
	border-bottom: 2px solid #2196F3;
	color: #2196F3;
}

.subject-list-link a{
	font-weight: bolder;
	letter-spacing: 0.1em;
	font-size: 0.8em;
	font-family: GothamMedium;
	margin: 0 10px;
	text-decoration: none;
	border-width: 0;
	padding-bottom: 3px;
	transition: 0.05s;
}

.subject-list-link a:hover{
	filter: brightness(110%);
	border-bottom-width: 2px;
}



.subjects{
	background-color: white;
	border: 1px solid #EEE;
	border-width: 1px 0 1px 0;
}

.subjects > h1,
.subjects > h2{
	color: #555;
	letter-spacing: 0.05em;
	font-family: GothamMedium;
}

.subjects > h1{
	text-align: center;
}

.subjects > h2{
	border-top: 1px solid #EEE;
	padding-top: 50px;
	text-indent: 5%;
}

.categlist{
	padding-left: 10%;
	list-style: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 150px;
	width: 50%;
	padding-bottom: 50px;
}

.categlist a{
	font-family: GothamLight;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	color: #888;
	display: inline-block;
	margin: 10px 30px 0 0;
	padding-bottom: 3px;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: 0.2s;
}

.categlist a:hover{
	border-bottom: 2px solid #AAA;
	filter: brightness(120%);
}

.mathlinks a{
	color: #8BC34A;
}

.englinks a{
	color: #8E24AA;
}

.mapelinks a{
	color: #FDD835;
}

.scilinks a{
	color: #D81B60;
}

.prolinks a{
	color: #2196F3;
}